파이썬 공부 기록
//**연산자
 a = 3 b =4  a**b=3의4승이다
 //%연산자
 7 % 3 = 1 , 3 % 7 = 4, 7/4 = 1.75, 7//4=1 나눗셈 후 몫을 반환
 
 //len(문자열의 길이함수)
 a="Life is too  s  h o r t"
    1234567891011121314151617   (len은 1부터 샌다)
 len(a) = 17
 
 a = "Life is too short"
 a[0] - 'L'  a[12] - 's' a[-1] - 't'   a[0],a[-0]은 같다
 
 a[1,2,3,4,5] 
 a[0:4] -> [0,1,2,3] 4번쨰 자리는 포함이 안된다.
 
 a="Life is too short, you need python"
 a[0:4]-Life  a[0:3]-Lif  a[12:17]-'short'  a[19:]-you need python 19~33까지 끝자리까지 a[:17]-Life is too short 0~17처음부터17번쨰자리까지 a[:]모든자리
 
